/* SERVICIOS main*/
.container_servicios{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 600px;
  gap: 100px;
  padding: 1.5rem 2rem;
}

.servicios_cards{
  display: flex;
  justify-content: space-between;
  color: #25282A;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: 200px;
  transition: 0.5s ease-in-out;
}

.servicios_cards:hover{
  background-color: rgba(230, 243, 255, 0.515);
}

.cards_content, .cards_content_2{
  width: 50%;
  height: 100%;
  text-align: start;
  align-self: center;
  overflow: hidden;
  position: relative;
}

.cards_img{
  width: 100%;
  height: 100%;
}

.cards_title{
  color: #4169e1;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.cards_parrafo{
  font-size: 1rem;
  font-weight: 300;
  color: #25282A;
  text-align: start;
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
}

.navlink_cat {
  color: #25282A;
  text-decoration: none;
  list-style: none;
  transition: color 0.5s ease;
  font-weight: 700;
  font-size: 1.3rem;
}

.navlink{
  list-style: none;
  text-decoration: none;
}

.navlink_cat:hover,
.navlink,
.navlink-active {
  color: #1e49cb;
}

/* SERVICIOS CATEGORIA */
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.banner_categoria{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px 0px;
}
.banner_oficinas{
  background-image: url("/banner-oficinas.webp");
}
.banner_salas{
  background-image: url("/banner-salas.webp");
}
.banner_eventos{
  background-image: url("/banner-eventos.webp");
}

.title_categoria{
  font-size: 3.5rem;
  color:#25282A;
  font-weight: 900;
}

.container_reservas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0px 30px 60px 30px;
  gap: 25px;
}

/* SERVICIO CARD */

.card{
  width: 300px;
  max-height: 400px;
  border-radius: 10px;
  text-align: start;
  overflow: hidden;
  background-color: #ebe7e7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
}
.card_menu{
  padding: 10px;
}
.img_serv{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.titulo_card{
  font-weight: 500;
  font-size: 1.4rem;
  color: #25282A;
  font-family: "Raleway", sans-serif;
}

.detalles{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #25282A;
}

.p_fecha{
  display: flex;
  align-items: center;
  text-indent: 5px;
}

.container_fecha{
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
}

.btn{
  color: #1442ce;
  font-weight: 600;
  padding: 8px 15px;
  cursor: pointer;
  transition: .5s;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}


/* SERVICIO DETAIL */

.container_detail{
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_detail{
  height: 300px;
}

@media (min-width:801px){
  .cards_title_img{
    display: none;
  }
}
@media (max-width:800px){
  .container_servicios{
    padding: 1.5rem 2rem;
  }
  .cards_title{
    display: none;
  }
  .cards_title_img{
    background-color: #4169e1;
    color: azure;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    width: auto;
    text-align: end;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    display: block;
  }
  .banner_categoria{
    min-height: 300px;
  }
  .container_ul{
    gap: 2rem;
  }
}

@media (max-width:550px){
  .container_servicios{
    padding:0;
    gap: 40px;
  }
  .cards_content_2{
    display: none;
  }
  .cards_content{
    width: 100%;
  }
  .banner_categoria{
    min-height: 200px;
  }
  .container_ul{
    margin: 0px;
  }
  .container_reservas{
    padding: 0px 10px 40px 10px;
  }
}