.container{
  padding: 1rem 0px 3rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.content_form{
    border: 2px solid #4169e11f;
    border-radius: 5px;
    padding: 20px 30px;
    text-align: start;
    box-shadow: -2px 2px 2px rgba(24,37,170,0.12);
    width: 100%;
}

.container_datos{
    display: flex;
    width: 100%;
    gap: 10px;
}  

.content{
    width: 100%;
    margin-bottom: 10px;
}

.label{
    display: inline-block;
    text-align: start;
    margin: 0px 0px 5px 5px;
    font-size: .9rem;
    font-weight: 600;
    color: #25282a9f;
}

.standar{
    padding: 10px 15px;
    border-radius: .5rem;
    font-size: .8rem;
    display: block;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d934;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.msgError{
    text-align: start;
    font-size: .7rem;
    margin-left: 10px;
    color: #d67179;
}

.btn{
    background-color: #4169e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    transition: color 0.5s ease;
    margin-top: 15px;
    width: 100%;
    height: 35px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.btn:hover{
  background-color: #1f4fe0;
}

.area{
    padding: 10px 15px;
    border-radius: .7rem;
    font-size: .8rem;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d934;
    resize: none;
    width: 100%;
    height: 100px;
    font-family: "Raleway", sans-serif;
}

.container_titulo{
    width: 100%;
    text-align: center; /* Centra el texto */
}

.title{
    font-size: 2.5em;
    font-weight: bold;
    color: #4169e1;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: #25282A;
    text-align: center;
}
@media (max-width:800px){
    .container{
        padding: 1rem 10px 2rem 10px;
    }
    .content_form{
        padding: 10px 20px;
    }
    .container_datos{
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 2rem;
    }

}
@media (max-width:500px){
    .container_datos{
        gap: 0px;
    }
    .btn{
        margin-top: 5px;
    }
}