.main_container {
  width: 900px;
  max-width: 1200px;
  height: 450px;
  margin: 30px 50px;
  background-color: #f8f9fa; /* Fondo claro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
}

.carousel-inner {
  height: 100%; /* Asegura que el carrusel ocupe todo el alto del contenedor */
}

.carousel-item {
  height: 100%; /* Ajusta cada item para ocupar todo el alto */
}

.carousel_image {
  width: 100%; /* La imagen ocupa todo el ancho */
  height: 100%; /* La imagen ocupa todo el alto */
  object-fit: cover; /* Ajusta la imagen para que se adapte sin deformarse */
}

@media (max-width: 800px) {
  .main_container {
    margin: 30px 25px;
    height: 350px; /* Altura menor para pantallas pequeñas */
  }
}

@media (max-width: 500px) {
  .main_container {
    margin: 30px 10px;
    height: 300px; /* Altura aún menor para pantallas más pequeñas */
  }
}